<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Food Site</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="css/main.css">
  <style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
    }

  </style>
</head>



<body>
  <div class="container">

    <h3> you clicked  <b><%= @result_reciepe.title %></b></h3>
    <div class="card" style="width:400px">
      <%= image_tag("/assets/single-product1.jpg") %>
      <div class="card-body">
        <h4 class="card-title">This Made By <b><%= @result_reciepe.madeMy %></b> </h4>
        <p class="card-text"> <%= @result_reciepe.description %> </p>
        <br>
        <a href="/reciepes/<%= @result_reciepe.id %>/edit" class="btn btn-primary">EDit </a>
        <button class="btn btn-danger"><%= link_to 'Destroy',  @result_reciepes,  method: :delete  %></button>



      </div>
    </div>
  </div>

</body>
</html>
